
* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: #fff6fb;
}

/* -------- PASSWORD PAGE -------- */

.password-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: #fff0f6;
}

.password-container h1 {
  font-size: 2rem;
}

.password-container input {
  padding: 10px;
  font-size: 1.1rem;
  width: 220px;
  text-align: center;
}

.password-container button {
  padding: 10px 18px;
  font-size: 1rem;
  cursor: pointer;
}

.hidden {
    display: none;
}

/* -------- PAGE 1 -------- */

#title {
  position: fixed;
  top: 20px;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  z-index: 10;
  pointer-events: none;
}

#reasons-container {
  position: relative;
  width: 100%;
  height: 100vh;   /* â† THIS */
  background-image: url("reasons_background.jpg");
  background-size: cover;
  background-position: center;
}

#clickBtn {
  position: absolute;
  padding: 12px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: hotpink;
}

.reason {
  position: absolute;
  font-size: 1rem;
  white-space: nowrap;
}

#nextBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 12px 18px;
  font-size: 1rem;
    background-color: hotpink;

}

/* -------- PAGE 2 -------- */
@keyframes heartbeat {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  }
  14% {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1.06);
  }
  28% {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  }
  42% {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1.04);
  }
  70% {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  }
}

.valentine-bg {
  background-image: url("collage_background.jpg"); 
  background-size: cover;
  background-position: center;
}

.valentine-container > * {
  transform: rotate(45deg);
  text-align: center;
  color: white;
  z-index: 2;
}

.valentine-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 280px;
  background: #ff6b81;
  transform: translate(-50%, -50%) rotate(-45deg);
  animation: heartbeat 1.2s ease-in-out infinite;
  display: flex;
}

.valentine-container::before,
.valentine-container::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 280px;
  background: #ff6b81;
  border-radius: 50%;
}

.valentine-container::before {
  top: -140px;
  left: 0;
}

.valentine-container::after {
  left: 140px;
  top: 0;
}

.buttons button {
  margin: 10px;
  padding: 12px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;
}